.box
{
  width: 350px;
  height: 550px;
  border: 1px solid #190F42;
  box-sizing: border-box;
  margin-left: 40%;
  margin-top: 10%;
  float: center;
  background-color: #C1BFC8  ;
  color: #3B415B;
  font-family: 'Indie Flower', cursive;
}
.button1:hover:not(.button1)
{
	background-color: #FFFFFF;
	color: white;
}